@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #f57e88;
    padding: 0 10px;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 20px auto;
    padding: 45px;
}

h1{
    text-align: center;
}